[package]
name = "dubins_paths"
version = "2.4.1"
authors = ["VirxEC"]
edition = "2021"
description = "Rust code for calculating Dubin's Paths"
readme = "README.md"
repository = "https://github.com/VirxEC/dubins_paths"
license = "MIT"
keywords = ["rocket-league", "rlbot", "physics", "simulation", "dubin"]
categories = ["science", "simulation", "algorithms"]
rust-version = "1.68.2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dev-dependencies]
rand = "0.8.5"

[dependencies]
glam = { version = "0.29.0", optional = true }

[profile.release]
codegen-units = 1
lto = true
debug = true
panic = "abort"

[package.metadata.docs.rs]
all-features = true
